<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/cats/new" method="post">
    <input type="number" name="weight" id="weight" placeholder="Súly" required>
    <input type="text" name="eyeColor" id="eyeColor" placeholder="Szem szín" required>
    <input type="submit" value="Hozzá ad">
  </form>

  <a href="/">Vissza a főoldalra</a>
</body>
</html>
